
$gray:            #e2e2e2;
$white:           #ffffff;
$portfolioBlue:   #53a1f4;
$teachingPurple:  #b733ff;
$contactGreen:    #00dead;
$contactGreenBg:  rgba(0, 222, 173, 0.2);
$faqRed:          #ffb2a1;

$fontSize:        11px;
$lineHeight:      1.6em;
$fontFamily:      "Helvetica Monospaced Pro", Menlo, monospace;

@mixin defaultFont {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-family: $fontFamily;
}

body {
  @include defaultFont;
  background-color: $gray;
  margin: 3px;
}

.box {
  height: 100%;
  overflow: auto;
  position: absolute;
  -webkit-transition-property: width, height, left, top;
  -webkit-transition-duration: .5s;

  .white-area {
    background-color: $white;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.content {
  background-color: $white;
  margin: 0px;
  padding: 25px;
}

#portfolio .project .text, #teaching .content {
  -webkit-transition: font-size 0.5s;
}

/* @group navigation */

#navigation {
  width: 17%;
  min-width: 170px;
  float: left;

  .content {
    background: none;
    padding-right: 0px;
  }
}

div.navigation.headline {
  line-height: 1.3em;
  -webkit-transition-properties: font-size, margin-left;
  -webkit-transition-duration: .5s;
  
  a {
    height: 1em;
    position: relative;
    display: inline-block;
    
    &.on {
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }
  }
}

#portfolio-toggle { border-bottom-color: $portfolioBlue; }
#teaching-toggle { border-bottom-color: $teachingPurple; }
#contact-toggle { border-bottom-color: $contactGreen; }
#faq-toggle { border-bottom-color: $faqRed; }

#navigation #gb-lettering {
  font-size: $fontSize;
  line-height: $lineHeight;
  margin-bottom: 1em;
}

#foldout-btn {
  position: relative;
  float: left;
  padding: .9em;
  margin-left: -0.8em;
  margin-right: -0.4em;
  -webkit-transition-properties: width, height, margin-top, -webkit-transform;
  -webkit-transition-duration: .1s;
  -webkit-transform-origin-y: 14px;
  -webkit-transform-origin-x: 13px;

  img {
    width: 30%;
    height: 30%;
    position: absolute;
  }
  
  &.down {
    -webkit-transform: rotate(90deg);
  }
}

#portfolio-list {
  font-size: $fontSize;
  line-height: $lineHeight;
  margin-bottom: .75em;
  margin-top: .25em;
  overflow: hidden;
  -webkit-transition: margin-left 0.5s;

  &.hidden {
    height: 0;
    margin-top: 0em;
    margin-bottom: 0em;
  }
}

/* @end */
/* @group portfolio */
/* @group project */

.project {
  .headline {
    color: $portfolioBlue;
    padding-top: 25px;
    margin-top: -25px;
    margin-bottom: 1em;
  }

  .text {
    font-family: Univers;
    font-size: 24px;
    line-height: 1.4em;
  }

  .image {
    &.zoom {
      left: 170px;
    }

    img {
      width: 100%;
    }
  }
}

/* @end */
/* @end */
/* @group teaching
 */

#teaching {
  .headline {
    @include defaultFont;
    color: $teachingPurple;
    margin-bottom: .7em;
  }

  font: 1px Univers;
  font-size: 1.4em;
  line-height: 1.5em;
}

/* @end */
/* @group contact
 */

#contact {
  .headline {
    color: $contactGreen;
  }

  a {
    border-color: $contactGreenBg;
    
    &:hover {
      border-color: $contactGreen;
    }
  }
}

form {
  padding-right: 12px;
  padding-bottom: 17px;
  
  input, textarea {
    @include defaultFont;
  }
  
  input[type="text"], textarea {
    padding: 6px 6px 2px;
    border-style: none;
    width: 100%;
    margin: 0.7em 0 0.1em;
    background: $contactGreenBg;
    -moz-box-shadow: 0 0 1px;
    -webkit-box-shadow: 0 0 1px;
    box-shadow: 0 0 1px;
  }
  textarea {
    padding: 5px 5px 2px 7px;
    max-width: 100%;
  }
}

.submit_btn {
  margin: 0px -12px 0px 0px;
  float: right;
}

/* @end */
/* @group faq
 */

#faq {
  .qa {
    margin-bottom: 1.6em;
  }

  .headline {
    color: $faqRed;
  }

  .media {
    margin-bottom: -0.3em;
    margin-top: 0.4em;

    img {
      width: 100%;
    }
  }

  .content {
    padding-bottom: 1px;
  }
}

/* @end */

/* @group typography
 */

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    .navigation.block, .list-btn {
      background-color: none;
    }
  }
}

.box a {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

u {
  text-decoration: none;
  border-bottom: 1px solid #03f;
}

#portfolio, #teaching, #contact, #faq {
  -webkit-hyphens: auto;
}

/* @end */
