<!doctype html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<title>Grabowski Böll{% block title %}{% endblock %}</title>
	<meta name="author" content="Carlo Grabowski, Grabowski Böll, Thomas Bilk">
	<link rel="stylesheet" href="/media/css/gb.css" type="text/css" />
	<script type="text/javascript" src="/media/js/jquery-1.7.2.js"></script>
	<script type="text/javascript" src="/media/js/gb.js"></script>
</head>
<body>
	{% block navigation %}{% include "navigation.html" %}{% endblock navigation %}
	<div id="mother">
	{% block content %}

	{% include "portfolio_box.html" %}

	{% include "teaching_box.html" %}

	{% include "contact_box.html" %}

	{% include "faq_box.html" %}

	{% endblock content %}
	</div>
</body>
</html>
