<div id="contact" class="box">
	<div class="white-area">
		<div class="content">
			<div class="headline">Grabowski Böll</div>
			Carlo Grabowski<br>
			Alexander Böll<br>
			<a href="&#x6d;&#97;&#x69;&#108;&#x74;&#111;&#x3a;&#x69;&#110;&#x40;&#103;&#x72;&#97;&#x62;&#111;&#x77;&#115;&#x6b;&#105;&#x2d;&#98;&#x6f;&#101;&#x6c;&#108;&#x2e;&#100;&#x65;"> &#x69;&#110;&#x40;&#103;&#x72;&#97;&#x62;&#111;&#x77;&#115;&#x6b;&#105;&#x2d;&#98;&#x6f;&#101;&#x6c;&#108;&#x2e;&#100;&#x65;</a><br><br>
			
			<div class="headline">Büro Bremen <a href="{{ MEDIA_URL }}downloads/ab.vcf" class="vcard">VCF</a></div>
			Künstlerhaus Güterabfertigung<br>
			Beim Handelsmuseum 9<br>
			28195 Bremen<br><br>
			
			<div class="headline">Büro Leipzig <a href="{{ MEDIA_URL }}downloads/cg.vcf" class="vcard">VCF</a></div>
			Dittrichring 17<br>
			04175 Leipzig<br>
			+49 341 60439287<br><br>
			
			<form id="contact_form" action="." method="post">
			  <div class="headline">Schreiben Sie uns</div>
				<input id="id_name" type="text" name="name" value="Ihr Name">
				<input id="id_emailaddress" type="text" name="emailaddress" value="Ihre Email-Adresse">
				<textarea id="id_message" name="message">Ihre Nachricht</textarea>
				<input type="submit" value="SENDEN" class="submit_btn">
			</form>
		</div>
		<div class="highlight"></div>
	</div>
</div>
