<div id="faq" class="box">
	<div class="white-area">
		<div class="content">
			<div class="qa">
				<div class="headline">Wie erreiche ich Sie?</div>
				<div class="answer">
					Schreiben Sie uns einfach eine Email an in@grabowski-boell.de oder rufen Sie an: 0421 1234567
				</div>
			</div>
			<div class="qa">
				<div class="headline">Kann ich zu Besuch kommen?</div>
				<div class="answer">
					Selbstverständlich können Sie uns auch im Büro besuchen. So finden Sie uns:
					<div class="media">
						<div id="map"></div>
					</div>
				</div>
			</div>
			<div class="qa">
				<div class="headline">Wie verlief Ihr Werdegang?</div>
				<div class="answer">
					Alex Böll – Jahrgang 1974<br>
					2007 – 2011: selbständige Tätigkeit als Kommunikationsdesigner für verschiedene Auftraggeber<br>
					2010: Diplomarbeit »Psychoacoustic Bass Frequency Studies«<br>
					2003 – 2010: Studium Integriertes Design, HfK, Bremen<br>
					2001 – 2003: freie Mitarbeit bei »form5«, Bremen<br>
					1997 – 2000: Außenhandelsvertreter Einzelhandel bei »Attitude Distribution«<br>
					1995 – 2000: Auf Welttournee mit den Bands Saprize, Queerfish und Home of the Lame
				</div>
			</div>
			<div class="qa">
				<div class="headline">Wie sehen Sie aus?</div>
				<div class="answer">
					<div class="media">
						<img src="{{ MEDIA_URL }}images/faq/gb-morph.jpg" />
					</div>
				</div>
			</div>
			<div class="qa">
				<div class="headline">Wie sehen Ihre Geschäftsräume aus?</div>
				<div class="answer">
					Hier aktuelle Ansichten unserer Livecams:
					<div class="media">
						<img src="{{ MEDIA_URL }}images/faq/webcam-hb.jpg" />
					</div>
					<div class="media">
						<img src="{{ MEDIA_URL }}images/faq/webcam-l.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
