<div id="portfolio" class="box">
  <div class="white-area">
    <div class="content">
      {% for project in projects %}
      <div class="project">
        <div class="headline" id="{{ project.title|slugify }}">
          {{ project.title }}
        </div>
        {% if project.images.count %}{% with project.images.all.0 as img %}
          <div class="image" data-images='{{ project.images_json|safe }}'>
            <img src="{{ img.image.url }}" style="height: 50px;" alt="{{ img.title }}">
            <div class="arrow prev"></div><div class="arrow next"></div>
          </div>
        {% endwith %}{% endif %}
        <div class="text">
          {{ project.description|safe }}
        </div>
      </div>
      {% endfor %}
      <div style="clear:both"></div>
    </div>
  </div>
</div>
