<div id="teaching" class="box">
	<div class="white-area">
		<div class="content zoom">
			<div class="headline">Grundlagen der Gestaltung — HfK Bremen</div>
			<div class="image">
				<img src="/media/images/teaching/ali_teaching.jpg">
			</div>
			<div class="text">
				Seit 2011 betreuen wir die Grundlagen der Gestaltung im Studiengang Digitale Medien an der HfK Bremen. Das Kursprogramm ist auf zwei Semester angelegt:<br>
Im Erstsemesterkurs unter dem Titel »Good Cop Bad Cop« vermitteln wir den Studenten anhand von einfachen gestalterischen Übungen ein Grundgefühl für Farbe, Form und Typografie. Der Computer ist in diesem Kurs verboten – gearbeitet wird stattdessen mit Stift, Pinsel, Kopierer sowie manuellen Drucktechniken. Am Ende jeder Unterrichtseinheit werden fertige Ergebnisse besprochen.<br>
Im anschließenden Kurs »Terminator« für das zweite Semester geht es um den Gestaltungsprozess: Ideenfindung, Entwurf, Produktion. Unter einem übergeordneten Themenschwerpunkt werden gruppenweise drei kleine Projekte von der Recherche bis zur Präsentation konzipiert und umgesetzt.
			</div>
			<div class="caption">
				A Böll zeigt den Studenten, wo es lang geht.
			</div>
		</div>
	</div>
</div>
