<div id="teaching" class="box">
	<div class="white-area">
		<div class="content">
			<div class="image">
				<img src="/media/images/teaching/ali_teaching.jpg">
			</div>
			<div class="headline">Good Cop, Bad Cop — HfK Bremen</div>
			Seit WS 2011 unterrichten Grabowski Böll junge Stu&shy;den&shy;ten der Di&shy;gi&shy;ta&shy;len Me&shy;dien im Kurs Grundlagen der Gestaltung. Wir bieten: 16 in sich abgeschlossene Übungseinheiten, in denen wir mit der Kraft unserer Gedanken, den Händen und manuellen Hilfsmitteln gestalterische Möglichkeiten ausloten. Einige Stichworte: Flair und Geruch. Materialität und Haptik. Raster und System. Experiment und Dynamik. Ausflüge und Einblicke. Diskussion, Emotion, Position.
		</div>
		<div class="layover"></div>
	</div>
</div>
